@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 257 38% 95%;
    --foreground: 256 10% 10%;
    
    --card: 257 38% 100%;
    --card-foreground: 256 10% 10%;

    --popover: 257 38% 100%;
    --popover-foreground: 256 10% 10%;

    --primary: 258 33% 67%;
    --primary-foreground: 256 10% 98%;

    --secondary: 257 38% 91%;
    --secondary-foreground: 256 10% 10%;

    --muted: 257 38% 91%;
    --muted-foreground: 256 10% 45%;

    --accent: 257 38% 91%;
    --accent-foreground: 256 10% 10%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 257 38% 88%;
    --input: 257 38% 97%;
    --ring: 258 33% 67%;
    
    --radius: 0.75rem;

    --chart-1: 258 33% 67%;
    --chart-2: 159 34% 48%;
    --chart-3: 40 92% 66%;
    --chart-4: 290 92% 66%;
    --chart-5: 220 92% 66%;
  }

  .dark {
    --background: 256 10% 4%;
    --foreground: 256 10% 96%;

    --card: 256 10% 10%;
    --card-foreground: 256 10% 96%;

    --popover: 256 10% 4%;
    --popover-foreground: 256 10% 96%;

    --primary: 258 33% 67%;
    --primary-foreground: 256 10% 98%;

    --secondary: 256 10% 12%;
    --secondary-foreground: 256 10% 96%;

    --muted: 256 10% 12%;
    --muted-foreground: 256 10% 65%;

    --accent: 256 10% 12%;
    --accent-foreground: 256 10% 96%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 256 10% 15%;
    --input: 256 10% 15%;
    --ring: 258 33% 77%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
  }
  
  .dark body {
    background-image: radial-gradient(circle at 1px 1px, hsl(var(--border)) 1px, transparent 0);
    background-size: 2rem 2rem;
  }
}

@layer components {
  .glass {
    @apply backdrop-blur-xl shadow-inner;
  }
  .dark .glass {
     background-color: hsl(var(--card) / 0.4);
     @apply border border-white/10 shadow-black/20;
  }
  .light .glass {
     background-color: hsl(var(--card) / 0.6);
     @apply border border-black/10 shadow-black/10;
  }
}
