@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 260 33% 95%;
    --foreground: 256 10% 20%;
    --card: 260 40% 98%;
    --card-foreground: 256 10% 20%;
    --popover: 260 40% 98%;
    --popover-foreground: 256 10% 20%;
    --primary: 256 34% 48%;
    --primary-foreground: 260 33% 98%;
    --secondary: 260 33% 90%;
    --secondary-foreground: 256 10% 20%;
    --muted: 260 33% 90%;
    --muted-foreground: 256 10% 45%;
    --accent: 159 35% 48%;
    --accent-foreground: 20 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 260 20% 88%;
    --input: 260 20% 92%;
    --ring: 256 34% 48%;
    --chart-1: 256 34% 48%;
    --chart-2: 159 35% 48%;
    --chart-3: 256 34% 68%;
    --chart-4: 159 35% 68%;
    --chart-5: 256 34% 88%;
    --radius: 0.5rem;
    --sidebar-background: 256 10% 16%;
    --sidebar-foreground: 260 33% 85%;
    --sidebar-primary: 256 34% 58%;
    --sidebar-primary-foreground: 256 10% 10%;
    --sidebar-accent: 256 10% 24%;
    --sidebar-accent-foreground: 260 33% 95%;
    --sidebar-border: 256 10% 24%;
    --sidebar-ring: 256 34% 58%;
  }
  .dark {
    --background: 256 10% 12%;
    --foreground: 260 33% 95%;
    --card: 256 10% 16%;
    --card-foreground: 260 33% 95%;
    --popover: 256 10% 16%;
    --popover-foreground: 260 33% 95%;
    --primary: 256 34% 58%;
    --primary-foreground: 256 10% 10%;
    --secondary: 256 10% 24%;
    --secondary-foreground: 260 33% 95%;
    --muted: 256 10% 24%;
    --muted-foreground: 260 20% 65%;
    --accent: 159 35% 55%;
    --accent-foreground: 159 10% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 256 10% 24%;
    --input: 256 10% 24%;
    --ring: 256 34% 58%;
    --chart-1: 256 34% 58%;
    --chart-2: 159 35% 55%;
    --chart-3: 256 34% 78%;
    --chart-4: 159 35% 75%;
    --chart-5: 256 34% 98%;
    --sidebar-background: 256 10% 16%;
    --sidebar-foreground: 260 33% 85%;
    --sidebar-primary: 256 34% 58%;
    --sidebar-primary-foreground: 256 10% 10%;
    --sidebar-accent: 256 10% 24%;
    --sidebar-accent-foreground: 260 33% 95%;
    --sidebar-border: 256 10% 24%;
    --sidebar-ring: 256 34% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
